@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Liste Eklemek için Üye Girişi Yapın,Ürünlerle ve Kategorilerle ilgili değişiklik yapmak için admin olarak giriş yapın</h1>    
</div>
